body {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    font-family: 'Mulish';
    color: #323232;
}

span {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.wrapper-btn-lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20%;
    top: 2%;
    gap: 4px;
}

.btn-lang {
    width: 40px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
}

.ru-btn {
    background-image: url(../assets/rus-b.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.eng-lang {
    background-image: url(../assets/eng-b.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.switch-lang-ru {
    background-color: #323232;
    background-image: url(../assets/rus-w.svg);
}

.switch-lang-eng {
    background-color: #323232;
    background-image: url(../assets/eng-w.svg);
}

.btn-lang:hover {
    scale: 1.1;
}

.hidden {
    display: none;
}

.container-ru {
    margin-top: 32px;
    margin-right: 48px;
    margin-left: 48px;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    margin-bottom: 28px;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-contact {
    list-style-type: none;
}

.pic-contact {
    width: 12px;
    margin-right: 4px;
}

.title-part {
    text-transform: uppercase;
    margin-bottom: 0;
}

.container-eng {
    margin-top: 32px;
    margin-right: 48px;
    margin-left: 48px;
}